# AI Service Configuration
NEXT_PUBLIC_AI_SERVICE_URL=http://localhost:8000

# Application Configuration
NEXT_PUBLIC_APP_NAME=ExamProctor AI
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_BACKEND_API = http://localhost:8080/api
NEXT_PUBLIC_AI_API=http://localhost:8000